body, html {
  height: 100%;
  margin: 0;
}
.logo {
  overflow: hidden;
  background-color: inherit;
}

form.logo-search input[type=text] {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.logo-search .search-container button:hover {
  background: #ccc;
}
form.logo-search button {
    float: right;
    display: inline-block;
    text-align: left;
    width: 5%;
    margin: 0;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}
img {
  width: 120px;
  height: 90px;
}
div.bg {
  height: 100%;
  background-image: url("/static/images/AroundTheWorldSecond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pill-nav {
    background-color:  #c2d1f0;
    overflow: hidden;
    padding: 5px;
  display: flex;
  width: 100%;
}

/* Style the links inside the navigation bar */
.pill-nav a {
  float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
  margin-right: 3px;
}
.pill-nav form {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}
.pill-nav form input {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.2);
}
.pill-nav form input:hover {
  border: 1px solid rgba(0,0,0,0.6);
}
.pill-nav form input:focus {
  border: 1px solid rgba(0,0,0,1);
}

/* Change the color of links on hover */
.pill-nav a:hover {
  background-color:  #ffff80;
  color: black;
  border-radius: 16px;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: #00997a;
  color: white;
}

 /*Right-aligned section inside the top navigation*/
.topnav-left {
  display: inline-flex;
  flex: 1;
}
.topnav-right {
  background-color: #c2d1f0;
  overflow: hidden;
  float: right;
  display: inline;
  border-radius: 5px;
}

.topnav-right a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
  margin-left: 3px;
}
.topnav-right a:first-child {
  margin-left: 0;
}

.topnav-right a.active:hover{
  background-color:  #00997a;
  color: white;
  border-radius: 16px;
}

.topnav-right a.active {
  background-color: #00997a;
  color: white;
}

.content {
  padding: 16px;
}

 /*The sticky class is added to the header with JS when it reaches its scroll position*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c2d1f0;
  color: black;
  text-align: center;
}

/*.form-control {*/
/*  position: fixed;*/
/*  left: 50%;*/
/*  bottom: 50%;*/
/*  width: 60%;*/

/*}*/

ul.itinerary {
  display: block;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 1rem;
  border-radius: 5px;
}
ul.themed {
  background: #c2d1f0;
}

ul.itinerary li {
  margin-bottom: 1rem;
}

ul.itinerary ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 0;
  margin: 0 0 1rem 0;
  list-style-type: none;
}
ul.itinerary ul li {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}


.card-box {
    box-shadow: 0 0 30px 0;
    padding: 20px;
    margin-left: 120px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    border-radius: 15px;
    float: left;
    height: 500px;
    color: white;
    font-weight: bold;
    margin-bottom: 70px;
    margin-top: 20px;
}